body {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.box {
    display: inline-flex !important;
    flex-wrap: wrap;
    max-width: calc(100% - 6rem);
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav a:hover{
    background-color: rgb(165, 165, 165);
}

.del {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.del:hover{
    background-color: #a04545;
}

.sbtn{
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.sbtn:hover{
    background-color: #449f47;
}