body {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.box {
    display: inline-flex !important;
    flex-wrap: wrap;
    max-width: calc(100% - 6rem);
}

.del {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.del:hover{
    background-color: #a04545;
}